$animation-speed: 500ms
$otherwheres-red: #9F2B22
$light-grey: #424242

$huge: 108px
$large: 68px
$medium: 26px
$text: 16px

.issue-content
  transition: all $animation-speed ease
  width: 80%
  height: 100%
  position: absolute
  display: inline-block
  float: right

#elm-main-mount
  font-family: BrandonGrotesque

h1
  font-size: $huge
  margin: 0px
  letter-spacing: 16px
  font-family: BrandonGrotesqueBold

h3
  font-size: $medium
  letter-spacing: 5px
  margin: 0px

.lite-italic
  font-family: BrandonGrotesqueLightItalic, sans
  font-style: italic
  letter-spacing: 5px

.menu-issue-title
  font-family: BrandonGrotesqueBlack
  color: white
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

.menu-issue-symbol
  font-family: BrandonGrotesqueBlackItalic, sans
  color: white

.red-logo
  background-image: url("/assets/branding/red-logo.png")
  background-position: center
  background-size: cover
  height: 114px
  width: 75px
  margin-bottom: 26px

  &:before
    content: " "

=logo($top, $left, $logo)
  $icon-size: 25px
  height: $icon-size
  width: $icon-size
  border-radius: 50%
  border: 1px solid $otherwheres-red
  position: relative
  top: $top
  left: $left
  padding: 5px
  content: url("/assets/branding/vendor/" + $logo + "-red.svg")

  &:hover
    content: url("/assets/branding/vendor/" + $logo + "-white.svg")
    background-color: $otherwheres-red

.logo-space
  text-align: center
  transition: all $animation-speed ease

.facebook
  +logo($top: -64px, $left: -25px, $logo:"facebook" )
  padding: 0px

.twitter
  +logo($top: -72px, $left: 0px, $logo:"twitter" )

.instagram
  +logo($top: -64px, $left: 25px, $logo:"instagram" )

.logo-text
  font-family: BrandonGrotesqueBold
  letter-spacing: 4px
  font-size: $medium
  color: $otherwheres-red
  margin-bottom: 26px

.tag-line-text
  height: 32px
  font-size: $text
  letter-spacing: 3px

=button-location
  padding-top: 24px
  padding-right: 24px
  cursor: pointer
  font-size: 42px
  float: right

.close-button
  +button-location

  &:before
    content: "✗"

.minimize-button
  +button-location
  margin-top: 24px
  -webkit-transform: rotate(135deg)
  transform: rotate(135deg)
  color: $otherwheres-red

  &:before
    content: "➡"

=beforeBackgroundImage($url)
  &:before
    background-image: url($url)


.issue
  transition: all $animation-speed ease
  cursor: pointer

  &:before
    height: 100%
    width: inherit
    content: ""
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    position: absolute
    z-index: -1

.about
  overflow: hidden
  white-space: nowrap

  p
    margin: 0px

.redified
  &:after
    height: 100%
    width: inherit
    content: ''
    top: 0
    position: absolute
    background-color: $otherwheres-red
    opacity: 0.2
    z-index: -1

.volume1
  +beforeBackgroundImage("/assets/menu/volume_1.jpg")

.volume2
  +beforeBackgroundImage("/assets/menu/volume_2.jpg")

.volume3
  +beforeBackgroundImage("/assets/menu/volume_3.jpg")

.volume4
  +beforeBackgroundImage("/assets/menu/volume_4.jpg")


.issue-content
  text-align: center

  .red-logo
    padding-top: 36px
    margin: 0 auto
    margin-top: 32px

.issue-number
  padding-top: 24px
  font-family: BrandonGrotesqueBlack
  color: $otherwheres-red

.issue-tagline
  color: $light-grey

.issue-quote
  margin: 0 auto
  margin-bottom: 16px
  width: 90%
  color: $light-grey
  text-align: left
  font-family: BrandonGrotesqueMediumItalic

  &:before
    content: "“"
    color: $otherwheres-red
    font-size: 42px
    position: relative
    float: left
    left: -3%
    top: -32px

  &:after
    content: "”"
    color: $otherwheres-red
    font-size: 42px
    position: absolute
    left: 95%

.issue-quote-credit
  margin: 0 auto
  width: 90%
  text-align: right
  padding-right: 16px
  letter-spacing: 3.3px
  color: $light-grey

  &:before
    content: "—"


.images
  width: 100%
  padding: 40px 0px
  display: flex
  justify-content: space-around

  .small
    width: 277px
    cursor: pointer
    height: 230px


.big-image
  max-width: 98%
  position: absolute
  left: 1%
  cursor: pointer
  top: 28px

