%header.navigation{role: "banner"}
  .navigation-wrapper
    %a.logo{href: "/"}
      -# Image with alt Logo image
    %nav{role: "navigation"}
      %ul.navigation-menu.show
        %li.nav-link
          %a{href: "javascript:void(0)"} Products
