%header.navigation{role: "banner"}
  .navigation-wrapper
    %a.logo{href: "/"}
      = image_tag 'branding/logo-white-transparent-cropped.png', alt: 'otherwheres-logo'
    %nav{role: "navigation"}
      %ul.navigation-menu
        %li.nav-link
          %a{href: "javascript:void(0)"} Products
