%form{action: "", method: "POST"}
  %script.stripe-button{ |
    src: "https://checkout.stripe.com/checkout.js", |
    "data-key" => "pk_test_CDafpjNwda98sK1dXBiBDu0W", |
    "data-amount" => "2000", |
    "data-name" => "Demo Site", |
    "data-description" => "2 widgets ($20.00)", |
    "data-image" => "/128x128.png", |
    "data-locale" => "auto"}
