@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: BrandonGrotesque;
  src: url(../assets/branding/fonts/brandon_reg.otf); }
@font-face {
  font-family: BrandonGrotesqueBold;
  src: url(../assets/branding/fonts/brandon_bold.otf); }
@font-face {
  font-family: BrandonGrotesqueBlack;
  src: url(../assets/branding/fonts/brandon_blk.otf); }
@font-face {
  font-family: BrandonGrotesqueBlackItalic;
  src: url(../assets/branding/fonts/brandon_blk_it.otf); }
@font-face {
  font-family: BrandonGrotesqueLightItalic;
  src: url(../assets/branding/fonts/brandon_lite_it.otf); }
@font-face {
  font-family: BrandonGrotesqueMediumItalic;
  src: url(../assets/branding/fonts/brandon_medium_italic.otf); }
#wrapper {
  height: 100%;
  width: 100%;
  font-family: BrandonGrotesque; }

.issue-content {
  transition: all 500ms ease;
  width: 80%;
  height: 100%;
  position: absolute;
  display: inline-block;
  float: right; }

h1 {
  font-size: 108px;
  margin: 0px;
  letter-spacing: 16px;
  font-family: BrandonGrotesqueBold; }

h3 {
  font-size: 26px;
  letter-spacing: 5px;
  margin: 0px; }

.lite-italic {
  font-family: BrandonGrotesqueLightItalic, sans;
  font-style: italic;
  letter-spacing: 5px; }

.menu-issue-title {
  font-family: BrandonGrotesqueBlack;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.menu-issue-symbol {
  font-family: BrandonGrotesqueBlackItalic, sans;
  color: white; }

.red-logo {
  background-image: url("../assets/branding/red-logo.png");
  background-position: center;
  background-size: cover;
  height: 114px;
  width: 75px;
  margin-bottom: 26px; }
  .red-logo:before {
    content: " "; }

.logo-space {
  text-align: center;
  transition: all 500ms ease; }

.facebook {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #9F2B22;
  position: relative;
  top: -64px;
  left: -25px;
  padding: 5px;
  content: url("../assets/branding/vendor/facebook-red.svg");
  padding: 0px; }
  .facebook:hover {
    content: url("../assets/branding/vendor/facebook-white.svg");
    background-color: #9F2B22; }

.twitter {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #9F2B22;
  position: relative;
  top: -72px;
  left: 0px;
  padding: 5px;
  content: url("../assets/branding/vendor/twitter-red.svg"); }
  .twitter:hover {
    content: url("../assets/branding/vendor/twitter-white.svg");
    background-color: #9F2B22; }

.instagram {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #9F2B22;
  position: relative;
  top: -64px;
  left: 25px;
  padding: 5px;
  content: url("../assets/branding/vendor/instagram-red.svg"); }
  .instagram:hover {
    content: url("../assets/branding/vendor/instagram-white.svg");
    background-color: #9F2B22; }

.logo-text {
  font-family: BrandonGrotesqueBold;
  letter-spacing: 4px;
  font-size: 26px;
  color: #9F2B22;
  margin-bottom: 26px; }

.tag-line-text {
  height: 32px;
  font-size: 16px;
  letter-spacing: 3px; }

.close-button {
  padding-top: 24px;
  padding-right: 24px;
  cursor: pointer;
  font-size: 42px;
  float: right; }
  .close-button:before {
    content: "✗"; }

.minimize-button {
  padding-top: 24px;
  padding-right: 24px;
  cursor: pointer;
  font-size: 42px;
  float: right;
  margin-top: 24px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  color: #9F2B22; }
  .minimize-button:before {
    content: "➡"; }

.issue {
  transition: all 500ms ease;
  cursor: pointer; }
  .issue:before {
    height: 100%;
    width: inherit;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1; }

.about {
  overflow: hidden;
  white-space: nowrap; }
  .about p {
    margin: 0px; }

.redified:after {
  height: 100%;
  width: inherit;
  content: "";
  top: 0;
  position: absolute;
  background-color: #9F2B22;
  opacity: 0.2;
  z-index: -1; }

.volume1:before {
  background-image: url("../assets/menu/volume_1.jpg"); }

.volume2:before {
  background-image: url("../assets/menu/volume_2.jpg"); }

.volume3:before {
  background-image: url("../assets/menu/volume_3.jpg"); }

.volume4:before {
  background-image: url("../assets/menu/volume_4.jpg"); }

.issue-content {
  text-align: center; }
  .issue-content .red-logo {
    padding-top: 36px;
    margin: 0 auto;
    margin-top: 32px; }

.issue-number {
  padding-top: 24px;
  font-family: BrandonGrotesqueBlack;
  color: #9F2B22; }

.issue-tagline {
  color: #424242; }

.issue-quote {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 90%;
  color: #424242;
  text-align: left;
  font-family: BrandonGrotesqueMediumItalic; }
  .issue-quote:before {
    content: "“";
    color: #9F2B22;
    font-size: 42px;
    position: relative;
    float: left;
    left: -3%;
    top: -32px; }
  .issue-quote:after {
    content: "”";
    color: #9F2B22;
    font-size: 42px;
    position: absolute;
    left: 95%; }

.issue-quote-credit {
  margin: 0 auto;
  width: 90%;
  text-align: right;
  padding-right: 16px;
  letter-spacing: 3.3px;
  color: #424242; }
  .issue-quote-credit:before {
    content: "—"; }

.images {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  justify-content: space-around; }
  .images .small {
    width: 277px;
    cursor: pointer;
    height: 230px; }

.big-image {
  max-width: 98%;
  position: absolute;
  left: 1%;
  cursor: pointer;
  top: 28px; }
